<% callback_details_id = "#{Time.now.to_i}#{(rand * 1000).ceil}" %>

<div class="callback-details" id="callback-details-<%= callback_details_id %>">
  <script type="text/javascript">
    var id = "callback-details-<%= callback_details_id %>";
    $(".callback-details[id!=" + id + "]").remove(); // Remove any callback details if any 
      
    <% callbacks.each do |callback| %>
      var params = eval($('<div/>').html("(<%= callback[:params].to_json %>)").text()),
        callbackName = "<%= callback[:name] %>",
        callback = Paloma.callbacks[callbackName];
  
      console.log("Paloma: Fetching [" + callbackName + "]");
      if (callback != undefined){
        console.log("Paloma: Calling [" + callbackName + "]");
        $(document).ready(function(e){ callback(params); });
      }
    <% end %> 
  </script>
</div>
