<% id = "#{Time.now.to_i}#{(rand * 1000).ceil}" %>

<div class="js-paloma-hook" data-palomaid="<%= id %>">
  <script type="text/javascript">
    (function(){

      if (window['Paloma'] === undefined) return true;
      Paloma.env = '<%= Rails.env %>';

      var id = "<%= id %>",
          request = <%= request.to_json.html_safe %>;

      Paloma.engine.setRequest({
        id: id,
        resource: request.resource,
        action: request.action,
        params: request.params
      });

      // Remove old hooks
      var hooks = document.getElementsByClassName('js-paloma-hook');

      for (var i = 0, n = hooks.length; i < n; i++){
        var hook = hooks[i],
            palomaid = hook.dataset.palomaid.toString();

        if (palomaid != id) hook.parentNode.removeChild(hook);
      }

    })();
  </script>
</div>
